/*-----------------
GLOBALS
-----------------*/
* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 28px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;    
  background-color: whitesmoke;
}

  body > div {
    width: 900px;
    margin: 0 auto;
  }

img {
  display: block;
}

/*-----------------
MAIN
-----------------*/

  /*-----------------
  HERO
  -----------------*/
  .hero {
    height: 500px;
  }

    .hero > figure {
      position: relative;
      height: 100%;
    }

      .hero > figure > img {
        height: 100%;
        width: 100%;
      }

    .hero > h1 {
      font-size: 64px;
      font-weight: bold;
      color: white;

      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -160.08px;
      z-index: 1;
    }

    .hero > div {
      color: white;
      position: absolute;
      padding: 10px;
      font-size: 25px;
      top: 255px;
      left: 300px;
      z-index: 1;

      background-color: rgba(114, 153, 254, 0.5);
      border-radius: 10px;
    }

      .hero > div > h2 {
        padding: 0;
      }

  /*---------------
  ABOUT
  -----------------*/
  .about {
    position: relative;
    height: 450px;
    background-color: #7299FE;
  }

    .about > p {
      padding: 0 40px;
      text-align: justify;
      color: white;
      font-size: 14px;
      line-height: 24px;
    }

    .about > button {
      margin: 20px 0 0 41px;
      color: white;
      border-radius: 20px;
      padding: 18px 59px;
      border: none;
      background-color: #D16FFF;
      cursor: pointer;
    }
    
  /*-----------------
  SKILLS
  -----------------*/
  .skills {
    background-color: #9122FF;
    height: 420px;
  }

    .skills > .skills_container {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0 0 64px;
    }

      .skills > .skills_container > .skill {
        margin: 0 65px 30px 0;
      }

        .skills > .skills_container > .skill > h3 {
          font-size: 18px;
          color: white;
        }

        .skills > .skills_container > .skill > div {
          background-color: white;
          border-radius: 20px;
          width: 350px;
          margin: 14px 0;
        }

          .skills > .skills_container > .skill > div > .progress-bar {
            background-color: #57EFF9;
            border-radius: 20px;
            padding: 10px;
            width: 185px;
          }

  /*-----------------
  PORTFOLIO
  -----------------*/
  .portfolio {
    background-color: #FFD233;
    height: 400px;
  }

    .portfolio > .portfolio_container {
      width: 600px;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

      .portfolio > .portfolio_container > figure {
        margin-bottom: 10px;
      }

  /*-----------------
  CLIENTS
  -----------------*/
  .clients {
    background-color: #3F4E62;
    height: 230px;
  }

    .clients > .clients_container {
      width: 800px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    
  /*-----------------
  CONTACT
  -----------------*/
  .contact {
    background-color: #1687A0;
    height: 510px;
  }

    .contact > form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 700px;
      margin: 0 auto;
    }

      .contact > form > input {
        border: 1px solid #BFBFBF;
        margin-bottom: 25px;
        padding: 20px 150px 20px 10px;
      }

      .contact > form > textarea {
        border: 1px solid #BFBFBF;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 10px;
        color: #8B758B;
      }

      .contact > form > button {
        margin: 35px auto 0px;
        padding: 15px 45px;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        background-color: #233451;
        border: none;
        cursor: pointer;
      }
