/*-----------------
GLOBALS
-----------------*/
* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 28px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;    
  background-color: whitesmoke;
}

  body > div {
    width: 900px;
    margin: 0 auto;
  }

img {
  display: block;
}

/*-----------------
MAIN
-----------------*/

  /*-----------------
  CONTACT
  -----------------*/
  .contact {
    background-color: #1687A0;
    height: 510px;
  }

    .contact > form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 700px;
      margin: 0 auto;
    }

      .contact > form > input {
        border: 1px solid #BFBFBF;
        margin-bottom: 25px;
        padding: 20px 150px 20px 10px;
      }

      .contact > form > textarea {
        border: 1px solid #BFBFBF;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 10px;
        color: #8B758B;
      }

      .contact > form > button {
        margin: 35px auto 0px;
        padding: 15px 45px;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        background-color: #233451;
        border: none;
        cursor: pointer;
      }

