/*-----------------
GLOBALS
-----------------*/
* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 28px 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;    
  background-color: whitesmoke;
}

  body > div {
    width: 900px;
    margin: 0 auto;
  }

img {
  display: block;
}

/*-----------------
MAIN
-----------------*/

  /*-----------------
  PORTFOLIO
  -----------------*/
  .portfolio {
      background-color: #FFD233;
      height: 400px;
  }

    .portfolio > .portfolio_container {
      width: 600px;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

      .portfolio > .portfolio_container > figure {
        margin-bottom: 10px;
      }

    